.container {
  display: flex;
  width: 100%;
  padding: 3rem 0;
  gap: 2rem;
}

.calculator {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-height: 25rem;
  transition: 0.2s all;
}

.map {
  color: rgb(39, 39, 39);
  flex-basis: 60%;
  display: block;
  height: 25rem;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  .container {
    margin: 0 !important;
  }

  .calculator {
    flex-basis: 100%;
  }

  .map {
    display: none;
  }
}

.section {
  background: linear-gradient(
      to top,
      rgba(40, 40, 43, 0.8),
      rgba(40, 40, 43, 0.8)
    ),
    url("../../../icons/truck-bg.jpg") center;
  background-size: cover;
}
