.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select {
  position: relative;
  width: 100%;
}

.default {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  border: 2px solid transparent;
  color: var(--dark);
  border-radius: 8px;
  background-color: #fff;
  color: (--dark);
  cursor: pointer;
  text-align: left;
  margin-top: 0.7rem;
}

.error {
  border: 2px solid red;
}

.frame {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.optionlist {
  background-color: var(--dark);
  border: 1px solid var(--dark2);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 13rem;
  overflow-y: auto;
}

.optionlist > div {
  padding: 10px;
  cursor: pointer;
}

.optionlist > div:hover {
  background-color: var(--brand-color);
  color: var(--white);
}
