.nav {
  background-color: rgb(247, 251, 255);
  padding: 0.5rem 0;
  height: 5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr;
  align-items: center;
  margin-inline: auto;
  gap: 3rem;
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.links {
  display: flex;
  gap: 3rem;
}

@media only screen and (max-width: 768px) {
  .links {
    display: none;
  }
  .container {
    grid-template-columns: max-content 1fr;
  }
}

.link {
  color: var(--dark2);
  text-decoration: none;
  font-weight: 500;
}

.call {
  background-color: green;
  color: var(--white);
  padding: 0.8rem 2rem;
  border-radius: 1000px;
  justify-self: end;
  text-decoration: none;
  transition: all 0.2s;
  width: max-content;
}

.call:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-0.2rem);
}
