.list {
  position: absolute;
  top: 5rem;
  left: 0;
  padding: 0.4rem 0;
  background-color: var(--white);
  list-style: none;
  z-index: 5;
}

.list-element {
  color: var(--dark);
  display: block;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.list-element:hover {
  background-color: #aaa;
}
