.faq {
  background-color: rgb(248, 248, 248);
  padding: 6rem 0;
}

.accordion {
  max-width: 100%;
  margin: 10px auto 0;
  border-radius: 3px;
  background: #f1f1f1;
}

.question {
  background: var(--brand-color);
  width: 100%;
  color: #fff;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.visible {
  padding: 15px 0;
  font-size: 1.5rem;
  text-align: left;
}
.question svg {
  font-size: 1.6rem;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
.question svg.active {
  transform: rotate(90deg);
}

.question h2 {
  font-size: 20px;
}

.toggle {
  height: 0px;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;
  color: #333;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}

.animated {
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out;
}

.toggle p {
  margin: 0;
  padding: 22px 15px;
  pointer-events: none;
  line-height: 1.3;
}

.heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
