<<<<<<< HEAD
.calc {
  width: 100%;
  background-color: var(--dark2);
  border-radius: 16px;
  height: 100%;
  /* overflow: hidden; */
}
=======
.calc {
  width: 100%;
  background-color: var(--dark2);
  border-radius: 16px;
  height: 100%;
  /* overflow: hidden; */
}
>>>>>>> d136389c6c90047bdf2fb7b70ea495457b726cbf
