.option {
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px 10px;
  font-size: 14px;
  color: var(--dark);
  background-color: var(--white);
  border: none;
  outline: none;
  cursor: pointer;
}

.option:hover {
  background-color: var(--brand-color);
  color: var(--white);
}
