.button {
  padding: 0.8rem;
  background-color: var(--brand-color);
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.1s all;
  font-weight: 700;
  color: var(--white);
  font-size: 1rem;
  display: inline-block;
  height: fit-content;
}

.button:hover {
  background-color: #0c8a91;
  transform: translateY(-5px);
}

.button:active {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  transform: translateY(-3px);
}

@media only screen and (max-width: 1000px) {
  .button {
    width: 100%;
  }
}
