<<<<<<< HEAD
.footer {
  background-color: var(--dark2);
  color: #eee;
  padding: 2rem 0 3rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: rgb(190, 190, 190);
}

.contact {
  color: rgb(190, 190, 190);
}
=======
.footer {
  background-color: var(--dark2);
  color: #eee;
  padding: 2rem 0 3rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: rgb(190, 190, 190);
}

.contact {
  color: rgb(190, 190, 190);
}
>>>>>>> d136389c6c90047bdf2fb7b70ea495457b726cbf
