.footer {
  background-color: var(--dark2);
  color: #eee;
  padding: 5rem 0 3rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: rgb(190, 190, 190);
}

.contact {
  color: rgb(190, 190, 190);
}
