.app {
  width: 100%;
  background-color: var(--dark2);
  position: relative;
}

.hidden {
  display: none;
}

.still {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}
