:root {
  --dark: #222831;
  --dark2: #393e46;
  --brand-color: #00adb5;
  --white: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: block;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 85%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
