.map {
  background-color: var(--brand-color);
  color: rgb(39, 39, 39);
  flex: 1 1 60%;
  color: var(--white);
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 992px) {
  .map {
    display: none;
  }
}

.hidden {
  display: none;
}
